*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color: #cbd5e1;
}
body{
    margin: auto;
    max-height: 100vh;
    max-width: 70%;
    font-size: 62.5%;
    background-color: #e2e8f0;
}

/* Navigation */
nav{
    background-color: green;
    height: 10vh;
    border-radius: .4rem .4rem 0rem 0rem;
    padding: .9rem;
    position: relative;
}
nav .img1{
    display: inline-block;
    position: absolute;
    left: .5rem;
}
nav h1{
    font-size: 1.3rem;
    display: inline-block;
    position: absolute;
    left: 3rem;
}
nav .img2{
    display: inline-block;
    position: absolute;
    right: 3rem;
}
nav .img3{
    display: inline-block;
    position: absolute;
    right: .5rem;
}
/* Container */
.container{
    max-width: 90rem;
    background-color: white;
    border: .2rem solid var(--color);
    margin: auto;
    height: 75vh;
    padding: 1.3rem;
    overflow-y: scroll;
}
/* Message Input*/
.message{
    background-color: white;
    width: 25rem;
    padding: 1rem;
    margin: 1rem .5rem;
    border: none;
    border-radius: .5rem;
}
.left{
    background-color: var(--color);
    color: black;
    font-size: medium;
    float:left;
    clear: both;
}
.right{
    background-color: green;
    color: white;
    font-size: medium;
    float: right;
    clear: both;
}
/* Send message */
#send-container{
    text-align: center;
    max-width: 85rem;
    display: block;
    margin: auto;
}
#messageInp{
    width: 87%;
    border: .2rem solid var(--color);
    border-radius: .4rem;
    height: 3rem;
    margin: .5rem 0rem;
    position: relative;
}
.send a img{
    position: absolute;
    right: 18.5rem;
    bottom: 2.5rem;
}
.btn2{
    cursor: pointer;
    height: 3rem;
    color: #64748b;
    background-color: white;
    border: .2rem solid var(--color);
    width: 10%;
    border-radius: .4rem;
    margin: .5rem 0rem;
}

@media only screen and (max-width:998px){
    body{
        font-size: 100%;
    }
}

@media only screen and (max-width:762px){
    body{
        font-size: 75%;
    }
}